th {
    background-color: #253F93 !important;
    color: white;
    text-align: center !important;
    font-weight: bold !important;
}
.thfoot{
    background-color: #27A2AC !important;

}
.tdvalue{
    text-align: right !important;
}
.tdgrap{
    text-align: center !important;
}
h4{
    font-weight: bold;
    margin-left: 12px;
}