<div class="ui-g-12">
  <div class="ui-g-12">
    <div class="ui-g-12" style="text-align: left; margin-top: -40px;">
      <h1>
        Análise Qualitativa - {{valor}}
      </h1>
    </div>
    <div class="ui-g-12" style="text-align: left; margin-top: -40px;">
      <h3>
        Lista de unidades que apresentaram variação de {{qtdDesvioPadrao == 1 ? qtdDesvioPadrao + " desvio padrão" : qtdDesvioPadrao + " desvios padrão"}} acima e abaixo da média, durante o período {{ data1 + " - "+data2 }} 
      </h3>
    </div>
    <div class="ui-g-10" style="text-align: left;">
      <span class="ui-float-label">
        <input id="float-input" type="number" pInputText [(ngModel)]="qtdDesvioPadrao" (change)="aplicarDesvioPadrao()"/>
        <label for="float-input">Qtd de Desvios Padrão</label>
      </span>
    </div>
    <div class="ui-g-2" style="text-align: right;">
      <button type="button" pButton icon="pi pi-file-excel" label="Extrair CSV" (click)="extraircsv()" class="ui-button-success"></button>
    </div>
  </div>
  <p-table #dt class="ui-g-12" [style]="{height:'1000px'}" [columns]="Cols" 
    [frozenColumns]="ColsFrozen" [value]="dadosAnalisados2" [scrollable]="true"
    [paginator]="true" [rows]="100" frozenWidth="250px">
    <ng-template pTemplate="frozencolgroup" let-columns>
        <colgroup>
            <col style="width:250px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width: 150px;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" 
        style="width: '50px'; text-align: center">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td  *ngFor="let col of columns, let i=index" style="font-size:10px !important; text-align: center;" 
          [ngClass]="col.field != 'equipamento' ?  
            rowData[col.field] ==0 ?  'zerados' :
              rowData[col.field] > condicionais[dadosAnalisados3.indexOf(rowData)].desvioMaior ?  'desviomaior' : 
                rowData[col.field] < condicionais[dadosAnalisados3.indexOf(rowData)].desvioMenor ?  'desviomenor' 
                : null : null"  
          pTooltip="
            Desvio Padrão: {{condicionais[dadosAnalisados3.indexOf(rowData)].desvioPadrao.toLocaleString(undefined, {minimumFractionDigits: 2,maximumFractionDigits: 2})}}   |   
            Desv. Máx.:    {{condicionais[dadosAnalisados3.indexOf(rowData)].desvioMaior.toLocaleString(undefined, {minimumFractionDigits: 2,maximumFractionDigits: 2})}}   |   
            Desv. Mín.:    {{condicionais[dadosAnalisados3.indexOf(rowData)].desvioMenor.toLocaleString(undefined, {minimumFractionDigits: 2,maximumFractionDigits: 2})}}
          ">
            {{  rowData[col.field].toLocaleString(undefined, {minimumFractionDigits: 2,maximumFractionDigits: 2})}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>