.zerados {
    background-color: #adadada2 !important;
    color: #ffffff !important;
}

.desviomenor{
    background-color: #c3ff007c !important;
    color: #000000 !important;
}
.desviomaior {
    background-color: #ff00007c !important;
    color: #ffffff !important;
}

.very-old-car {
    background-color: #2CA8B1 !important;
    color: #ffffff !important;
}