
<div class="ui-g-12">
  <div class="card card-w-title">
    <p-table [value]="faturasAprovadas" selectionMode="single" [(selection)]="faturaSelecionada"
              [paginator]="true" [rows]="16" [responsive]="true" paginatorPosition="bottom">
      <ng-template pTemplate="caption">
        <div class="ui-g">
          <div class="ui-g-12"> 
            Lista de Faturas
          </div>
          <div class="ui-g-12" style="text-align: center;">
            <button pButton (click)="VisualizarFatura()" type="button" icon="ui-icon-remove-red-eye" label="Visualizar"  class="ui-button-info"></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
            <th >id</th>
            <th >Concessionaria</th>
            <th >UC</th>
            <th >N. Fatura</th>
            <th >Data de Emissão</th>
            <th >Data de Vencimento</th>
            <th >Usuário</th>
            <th >Data de Aprovação</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
              <td>{{rowData['a_Id']}}</td>
              <td>{{rowData['a_ID_CONCESSIONARIA']}}</td>
              <td>{{rowData['b_CO_UC']}}</td>
              <td>{{rowData['b_CO_NUMERODAFATURA']}}</td>
              <td>{{rowData['d_IF_DATADEEMISSAO']}}</td>
              <td>{{rowData['d_IF_DATADEVENC']}}</td>
              <td>{{rowData['a_ID_USUARIO']}}</td>
              <td>{{rowData['a_ID_DATADAAPROVACAO']}}</td>
          </tr>
      </ng-template>
    </p-table>
  </div>
  <p-dialog class="ui-g" header="Editar" [(visible)]="dataview" [responsive]="true"  showEffect="fade" 
      [maximizable]="true" [style]="{  width: '70%' }"   (onAfterHide)="onDialogHide()">
      <p-scrollPanel class="ui-g-12" [style]="{width: '100%', height: '800px'}">
        <div class="ui-g-12">
          <app-visualizador-de-faturas *ngIf="dataview" class="ui-g" [faturaSelecionada]="faturaSelecionada" ></app-visualizador-de-faturas>

        </div>
        <div class="ui-g-12" style="text-align: center;">
          <button pButton (click)="Retornar()" type="button" label="Retornar"  class="ui-button-danger"></button>
        </div>
      </p-scrollPanel>
  </p-dialog>
</div>