<div class="ui-g-12">
  <h3 *ngIf="Unidade!=null">{{Unidade.nomeUc}}</h3>
</div>
<div class="ui-g-6">
  <div class="ui-g-12">
    <p-dropdown [options]="datasDisponiveis" styleClass = "drop95" class="ui-g-12"  [(ngModel)]="dataSelect"  (onChange)="TrocarData()"></p-dropdown>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <h3>Distribuição (Viridis)</h3>
    </div>
    <p-table #dt class="ui-g-12" [columns]="cols2" [value]="FaturasDistribuicao" [paginator]="true" [rows]="20">
      <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th style="text-align: right;" style="width:80px">
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
              <td>
                <button icon="ui-icon-remove-red-eye" type="button" (click)="AbrirFaturaDeDistribuicao(rowData['id'])"  pButton></button>
              </td>
          </tr>
      </ng-template>  
    </p-table>
  </div>
</div>